// Define some colors that might be used everywhere such as bg color for button backgrounds,
// or border colors. $name : rgb(x,y,z);
$main-bg-color: rgb(175, 195, 196);
$main-border-color: rgb(139, 193, 216);
$footer-color-darkens: rgb(18, 67, 70);
$comment-background-color: rgba(98, 98, 98, 0.3);
//use this when you want to highlight some items, for example when hovering the mouse (putting it on top) of a clickable item
$main-highlight-color: rgba(41, 126, 141, 0.5);
$main-button-color: rgb(238, 238, 238);

// the color of the part around the website
$secondary-bg-color: rgba(170, 189, 200, 0.589);
